<!DOCTYPE html>
<html lang="en">
<head>
  <title>Suggestion Box</title>


  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link href="../static/js/signup.css" rel="stylesheet">

  <script type="text/javascript" src="../static/js/jQuery.js"></script>
</head>

<body>

  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <!--<li role="presentation" ><a href="/">Home</a></li>-->
          <li role="presentation"><a href="/logout">Sign Out</a></li>
          <li role="presentation" class="active"><a href="#">Landing</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">bc-13 Suggestion Box</h3>
    </div>

    <div class="jumbotron">
      <h1>Welcome</h1>
      <p class="lead"></p>
      <p><a class="btn btn-lg btn-success" href="viewSuggestion" role="button">View Suggestions</a>
      <p><a class="btn btn-lg btn-success" href="writeSuggestion" role="button">Write Suggestion</a>
      </p>
    </div>
    </div>



    <footer class="footer">
      <p>Suggestion Box &copy; 2016</p>
    </footer>

  </div>
</body>
</html>
